@using Inventario.Models;

@{
    ViewBag.Title = "Tiendas de la supervisión";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="form-control-label" style="font-size: 20px;">
    TIENDAS DE LA SUPERVISIÓN
</h2>

<!-- Botón del modal-->
@*<button onclick="editarModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>*@
<!------------------------------------------------------------------------------------------------------------>
@*<div id="contenedor1"></div>*@
<!------------------------------------------------>
<style>
    contenedor2 {
        width: 900px;
        height: 450px;
        margin: 16px;
        padding: 16px;
    }

    contenedor3 {
        width: 900px;
        height: 450px;
        margin: 16px;
        padding: 16px;
    }


    .redondeado {
        border-radius: 10px;
        border: 1px solid #696969;
        width: 100px;
    }

    input:focus {
        background-color: lavender;
        text-align: center
    }

    .sinborde {
        border: 0;
    }
</style>

<!--------------------------------------------------------------------------------------------------------------->

<div id="accordion"></div>

<div class="accordion" id="AcordeonSucursales">
    @{
        if (TiendasSupervision.IDTienda != null)
        {
            int NSucursales = TiendasSupervision.IDTienda.Count();

            string InsrtClases = "card m-b-0 list-group list-group-flush  mb-1";
            for (int i = 0; i < NSucursales; i++)
            {
                if (i == 0)
                {
                    InsrtClases = "card m-b-0 list-group list-group-flush  mb-1";
                }
                else
                {
                    InsrtClases = "card m-b-0 list-group list-group-flush  mb-1";
                }
                string Colapse = "Accordion" + @TiendasSupervision.IDTienda[i];
                string titulo = "titulo" + @TiendasSupervision.IDTienda[i];
                string contenedor1 = "contenedor1" + @TiendasSupervision.IDTienda[i];
                <div class="@InsrtClases">
                    <div class="card-header" id="@titulo">
                        <h4 class="m-b-0 list-group list-group-flush  mb-1">
                            <a onclick="ConsultaArticuloComp(@TiendasSupervision.IDTienda[i])" data-toggle="collapse" data-target="#@Colapse" aria-expanded="false" aria-controls="@Colapse" class="collapsed">
                                <i class="m-r-5 fas fa-clipboard-list" aria-hidden="true"></i>
                                <span>@TiendasSupervision.Nombre[i]</span>
                            </a>
                        </h4>
                        <div id="@Colapse" class="collapse" aria-labelledby="headingOne" data-parent="#AcordeonSucursales" style="">
                            <div class="card-body">

                                <!--Mostrar la tabla de los articulos por tienda en el accordion-->
                                <div class="row">

                                    <button onclick="abrirModal(0,@TiendasSupervision.IDTienda[i])" type="button" class="btn btn-primary" data-toggle="modal" id=@TiendasSupervision.IDTienda[i] data-target="#ModalPedidoInterno">Realizar Pedidos</button>
                                    <button onclick="abrirModalUsados(0,@TiendasSupervision.IDTienda[i])" type="button" class="btn btn-primary" data-toggle="modal" id=@TiendasSupervision.IDTienda[i] data-target="#ModalUsados">Movimiento: Usados</button>
                                   @* <button onclick="abrirModalUs(0,@TiendasSupervision.IDTienda[i])" type="button" class="btn btn-primary" data-toggle="modal" id=@TiendasSupervision.IDTienda[i] data-target="#Usados">Usados</button>*@
                                    <div>
                                        <h5>Información de la @TiendasSupervision.Nombre[i]</h5>

                                    </div>
                                    <div id="@contenedor1" class="col-md-12 col-sm-12 col-xs-12">No hay ningún registro</div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            }
        }
    }
</div>

<!-------------------------------Estilo para la linea en el encabezado del los divs----------------------------------------->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Color y grosor del borde */
    hr.solid {
        border-top: 4px solid #808080;
    }

    .D1 {
        background-color: #EBEBEB;
    }
</style>
@*<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        /* Solid border */
        hr.solid3 {
            border-top: 1px solid #f1f507;
        }
    </style>*@
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid4 {
        border-top: 4px solid #0B94F8;
    }
</style>
<!------------------------------------Estilos para los inputs de los pedidos en el modal--------------------------->
<style>
    .redondeado {
        border-radius: 5px;
        /*grosor del alto de la casilla*/
        height: 30px;
        border: 1.5px solid #808080;
        /*Ancho de la casilla*/
        width: 100px
    }

    input:focus {
        background-color: white;
        border-color: dodgerblue;
    }
</style>


<!------------Obtener la fecha-------------->
<script type="text/javascript">
    var f = new Date();
    fecha = f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear();
    document.getElementById('TxtFechaSistema').value = fecha;

</script>
<!------------------------------------------>
<!------------------------------------------------Modal------------------------------------------------------------------>
<!-- Encabezado del Modal -->


<div class="container">
    <div class="modal fade" id="ModalPedidoInterno">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">
                        <label class="form-control-label" style="font-size: 18px;">
                            REGISTRO DE PEDIDOS INTERNOS
                        </label>
                    </h2>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle" style="font-size: 25px; color: red;"></i></button>

                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <form id="regiration_form" novalidate method="post" onsubmit="return validarFormulario()">
                        <!-----formulario-->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNumeroPedido">No. Pedido<span class="required">*</span></label>
                                    <input type="number" id="TxtNumeroPedido" class="form-control limpiar obligatorioPedido bloquear" placeholder="Número de Pedido">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNumPedidoProveedor">No. Pedido por proveedor<span class="required">*</span></label>
                                    <input type="number" id="TxtNumPedidoProveedor" class="form-control limpiar obligatorioPedido bloquear" placeholder="Número de Pedido">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtFechaIngreso">Fecha de Ingreso<span></span></label>
                                    <input type="text" id="TxtFechaIngreso" class="form-control bloquear" name="data[TxtFechaIngreso]" size="25" maxlength="100">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbTienda">Tienda<span class="required">*</span></label>
                                    <select id="cmbTienda" style="width: 100%" class="form-control obligatorioPedido limpiarSelect bloquear">
                                        <option value="0">--Seleccione--</option>
                                        @*Aquí se está ocupando razor para mostrar el nombre de la tienda de manera automática*@

                                    </select>
                                </div>
                            </div>

                        </div>




                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbProveedor">Proveedor<span class="required">*</span></label>
                                    <select onchange="Prov(this.value)" id="cmbProveedor" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtTelefono">Télefono<span class="required">*</span></label>
                                        <input type="text" name="data[TxtTelefono]" id="TxtTelefono" class="form-control  limpiar obligatorio">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCorreo">Correo<span class="required">*</span></label>
                                        <input type="text" name="data[TxtCorreo]" id="TxtCorreo" class="form-control  limpiar">
                                    </div>
                                </div>
                            </div>*@

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TblArticulos">Artículo(s)<span class="required">*</span></label>
                                    <div id="TblArticulos">No hay Ningún artículo de este proveedor</div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtTipo">Tipo de pedido<span class="required">*</span></label>
                                        <input type="text" id="TxtTipo" class="form-control limpiar obligatorio" placeholder="Tipo">
                                    </div>
                                </div>
                            </div>*@

                    </form>
                </div>
                <!-- pie del diálogo -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="GuardarPedidoInterno()">Guardar</button>
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="container">
    <div class="modal fade" id="ModalUsados">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">
                        <label class="form-control-label" style="font-size: 18px;">
                            MOVIMIENTO: Usados
                        </label>
                    </h2>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle" style="font-size: 25px; color: red;"></i></button>

                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <form id="regiration_form" novalidate method="post" onsubmit="return validarFormulario()">
                        <!-----formulario-->
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtMovUsados">Movimiento<span class="required">*</span></label>
                                    <input type="text" id="TxtMovUsados" class="form-control bloquear" value="Usados">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtFechaIngresoUsados">Fecha de Ingreso<span></span></label>
                                    <input type="text" id="TxtFechaIngresoUsados" class="form-control bloquear" name="data[TxtFechaIngreso]" size="25" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbTiendaUsados">Tienda<span class="required">*</span></label>
                                    <select id="cmbTiendaUsados" style="width: 100%" class="form-control limpiarSelect bloquear">
                                        <option value="0">--Seleccione--</option>
                                        @*Aquí se está ocupando razor para mostrar el nombre de la tienda de manera automática*@
                                        @{
                                            if (@TiendasSupervision.IDTienda != null)
                                            {
                                                for (int i = 0; i < TiendasSupervision.IDTienda.Count(); i++)
                                                {
                                                    <option value="@TiendasSupervision.IDTienda[i]">@TiendasSupervision.Nombre[i]</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="TblArticulosUsados">Artículo(s)<span class="required">*</span></label>
                                    <div id="TblArticulosUsados">No hay Ningún artículo de este proveedor</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- pie del diálogo -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary" onclick="GuardarUsados()">Guardar</button>*@
                    <button type="button" class="btn btn-primary" onclick="nuevoStockUsados()">Guardar</button>

                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="modal fade" id="ModalDevoluciones">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">
                        <label class="form-control-label" style="font-size: 18px;">
                            MOVIMIENTO: Devoluciones
                        </label>
                    </h2>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle" style="font-size: 25px; color: red;"></i></button>

                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <form id="regiration_form" novalidate method="post" onsubmit="return validarFormulario()">
                        <!-----formulario-->
                        <div class="row">
                            @*<div class="col-lg-3">
                <div class="form-group">
                    <label class="form-control-label" for="TxtNoPedidoDev">No.Pedido<span class="required">*</span></label>
                    <input type="text" id="TxtNoPedidoDev" class="form-control limpiar bloquear">
                </div>
            </div>*@
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtMovDev">Movimiento<span class="required">*</span></label>
                                    <input type="text" id="TxtMovDev" class="form-control bloquear" value="Devolución">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtFechaIngresoDev">Fecha de Ingreso<span></span></label>
                                    <input type="text" id="TxtFechaIngresoDev" class="form-control bloquear" name="data[TxtFechaIngreso]" size="25" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtIdArtDev">Id Articulo<span class="required">*</span></label>
                                    <input type="text" id="TxtIdArtDev" class="form-control limpiar bloquear">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtArtDev">Articulo<span class="required">*</span></label>
                                    <input type="text" id="TxtArtDev" class="form-control limpiar bloquear">
                                </div>
                            </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtExistenciaActDev">Stock General<span class="required">*</span></label>
                                        <input type="number" id="TxtExistenciaActDev" class="form-control limpiar bloquear">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCantidadDev">Cantidad<span class="required">*</span></label>
                                        <input type="number" onchange="ExisteciaDevolucion(this.value)" id="TxtCantidadDev" class="form-control limpiar obligatorioDevolucion">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbProveedorDevLider">Proveedor<span class="required">*</span></label>
                                        <select onchange="ProvDev(this.value)" id="cmbProveedorDevLider" style="width: 100%" class="form-control limpiarSelect obligatorio bloquear"></select>
                                    </div>
                                </div>
                            </div>



                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtIdTiendaDev">Id<span class="required">*</span></label>
                                        <input type="text" id="TxtIdTiendaDev" class="form-control limpiar bloquear">
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbTiendaDev">Tienda<span class="required">*</span></label>
                                        <select id="cmbTiendaDev" style="width: 100%" class="form-control limpiarSelect bloquear">
                                            <option value="0">--Seleccione--</option>
                                            @*Aquí se está ocupando razor para mostrar el nombre de la tienda de manera automática*@
                                            @{
                                                if (@TiendasSupervision.IDTienda != null)
                                                {
                                                    for (int i = 0; i < TiendasSupervision.IDTienda.Count(); i++)
                                                    {
                                                        <option value="@TiendasSupervision.IDTienda[i]">@TiendasSupervision.Nombre[i]</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtDescripcion">Descripción<span class="required">*</span></label>

                                        <textarea type="text" id="TxtDescripcionDev" class="form-control limpiar obligatorioDevolucion" rows="3" wrap="soft" placeholder="Agrega una descripción del artículo..."></textarea>
                                    </div>
                                </div>
                            </div>

</form>
                </div>
                <!-- pie del diálogo -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="GuardarDevolucion()">Guardar</button>
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">
                        <label class="form-control-label" style="font-size: 18px;">
                            REGISTRO DE MOVIMIENTOS
                        </label>
                    </h2>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle" style="font-size: 25px; color: red;"></i></button>

                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <form id="regiration_form" novalidate method="post">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtArticuloM">Artículo<span class="required">*</span></label>
                                        <input type="text" name="data[TxtArticulo]" id="TxtArticulo" class="form-control  bloquear limpiar" placeholder="Artículo">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtStock">Stock actual<span class="required">*</span></label>
                                        <input type="text" name="data[TxtStock]" id="TxtStock" class="form-control  limpiar bloquear" placeholder="Stock">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtCantidad">Ingrese la cantidad<span class="required">*</span></label>
                                        <input type="number" name="data[TxtCantidad]" id="TxtCantidad" class="form-control  limpiar" placeholder="Cantidad">
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="cmbMovimiento">Movimiento<span>*</span></label>
                                        <select id="cmbMovimiento" onchange="MovimientoModal(this.value)" style="width: 100%" class="form-control limpiarSelect obligatorio">
                                            <option value="0">--Seleccione--</option>
                                            <option value="1">Uso</option>
                                            <option value="2">Devolución</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtStockTotal">Stock actualizado<span class="required">*</span></label>
                                        <input type="text" name="data[TxtStockTotal]" id="TxtStockTotal" class="form-control  limpiar bloquear" placeholder="Total del stock">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="TxtDescripcion">Observaciones<span class="required">*</span></label>
                                        <textarea type="text" id="TxtDescripcion" class="form-control limpiar" rows="3" wrap="soft" placeholder="Agrega observaciones acerca del movimiento..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="GuardarArticulo()">Guardar</button>
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="ModalPedidos">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">
                        <label class="form-control-label" style="font-size: 18px;">
                            PEDIDOS
                        </label>
                    </h2>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle" style="font-size: 25px; color: red;"></i></button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="seleccion">
                                    <div align="left"><img src="~/Assets/Imagenes/Plus.jpg" style="width: 13em;"></div>
                                    <br />
                                    <br />
                                    <div style="width: 100%">
                                        <div {NM_CSS_FUN_CAB} style="height:11px; display: inline; border-width:0px; "></div>
                                        <div style="height:37px; background-color:#FFFFFF; border-width:0px 0px 1px 0px;  border-style: dashed; border-color:#ddd; display: inline">
                                            <table style="width:100%; border-collapse:collapse; padding:0;">
                                                <tbody>
                                                    <tr>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Comercializadora Picaros de la Mixteca S.A. de C.V.</label></td>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Tel. 953 530 0087</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Av. Zafiro No.1 Int. A, Col. Agua Dulce</label></td>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Fecha:</label><label id="TxtFecha"></label></td>
                                                    </tr>
                                                    <tr>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Huajuapan de León, Oaxaca. C.P. 69005.</label></td>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>No. de Pedido:</label><label id="TxtNumeroPedidoArt"></label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <!--------------------------------------Encabezado de el dodumento--------------------------------------->
                                    <br />
                                    <div style="width: 100%">
                                        <div {NM_CSS_FUN_CAB} style="height:11px; display: inline; border-width:0px; "></div>
                                        <div style="height:37px; background-color:#FFFFFF; border-width:0px 0px 1px 0px;  border-style: dashed; border-color:#ddd; display: inline">
                                            <table style="width:100%; border-collapse:collapse; padding:0;">
                                                <thead>
                                                    <tr align="center">
                                                        <th scope="col">Proveedor</th>
                                                        <th scope="col">Enviar a</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr align="left">
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Compañía: </label><label></label><label id="TxtProveedor"></label></td>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Compañía: Comercializadora Picaros de la Mixteca S.A. de C.V.</label></td>
                                                    </tr>
                                                    <tr align="left">
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Correo: </label><label></label><label id="TxtCorreo"></label></td>
                                                        @*<td id="lin1_col1" {NM_CSS_CAB}><label>Contacto:</label><label id="TxtDireccion"></label><br /><label>Correo:</label><label id="TxtCorreo"></label></td>*@
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Tienda: </label><label></label><label id="TxtDepartamento"></label></td>
                                                    </tr>
                                                    <tr align="left">
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Contacto: </label><label></label> <label id="TxtTelefono"></label></td>
                                                        <td id="lin1_col1" {NM_CSS_CAB}><label>Dirección: </label><label></label> <label id="TxtDireccion"></label></td>
                                                        @*<td id="lin1_col1" {NM_CSS_CAB}><label>Dirección: Av. Zafiro No.1 Int. A, Col. Agua Dulce</label></td>*@
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div align="center">
                                                    <label class="form-control-label" for="TblArt">Artículo(s) a solicitar</label>
                                                </div>
                                                <div id="TblArt">Artículo(s) de el pedido</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pie del diálogo -->
                @*<div class="modal-footer">
                    <a type="button" class="btn btn-info" href="javascript:imprSelec('seleccion')">Imprimir</a>
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>*@
            </div>
        </div>
    </div>
</div>





<div class="container">
<div class="modal fade" id="Usados">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">
                    <label class="form-control-label" style="font-size: 18px;">
                        MOVIMIENTO: Usados
                    </label>
                </h2>
                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle" style="font-size: 25px; color: red;"></i></button>

            </div>
            <!-- Contenido del modal -->
            <div class="modal-body">
                <form id="regiration_form" novalidate method="post" onsubmit="return validarFormulario()">
                    <!-----formulario-->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtMovUsados">Movimiento<span class="required">*</span></label>
                                <input type="text" id="TxtMovUs" class="form-control bloquear" value="Usados">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label" for="TxtFechaIngresoUs">Fecha de Ingreso<span></span></label>
                                <input type="text" id="TxtFechaIngresoUsados" class="form-control bloquear" name="data[TxtFechaIngreso]" size="25" maxlength="100">
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="form-control-label" for="cmbTiendaUs">Tienda<span class="required">*</span></label>
                                <select id="cmbTiendaUsados" style="width: 100%" class="form-control limpiarSelect bloquear">
                                    <option value="0">--Seleccione--</option>
                                    @*Aquí se está ocupando razor para mostrar el nombre de la tienda de manera automática*@
                                    @{
                                        if (@TiendasSupervision.IDTienda != null)
                                        {
                                            for (int i = 0; i < TiendasSupervision.IDTienda.Count(); i++)
                                            {
                                                <option value="@TiendasSupervision.IDTienda[i]">@TiendasSupervision.Nombre[i]</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-control-label" for="TblArticulosUs">Artículo(s)<span class="required">*</span></label>
                                <div id="TblArtUs">No hay Ningún artículo de este proveedor</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- pie del diálogo -->
            <div class="modal-footer">
                @*<button type="button" class="btn btn-primary" onclick="GuardarUsados()">Guardar</button>*@
                <button type="button" class="btn btn-primary" onclick="nuevoStockUsados()">Guardar</button>

                <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>









<!------------Obtener la fecha-------------->
<script type="text/javascript">
    var f = new Date();
    fecha = f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear();
    document.getElementById('TxtFechaIngreso').value = fecha;
    document.getElementById('TxtFechaIngresoDev').value = fecha;
    document.getElementById('TxtFechaIngresoUsados').value = fecha;
</script>


<script src="~/Scrips/jquery.min.js"></script>
@*<script src="~/Scripts/jquery.magnific-popup.min.js"></script>*@
@*<script src="~/Scripts/meg.init.js"></script>*@
<!--sweetalert2-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="~/Scrips/Internos/JS_PedidosTienda.js"></script>
<link href="~/Content/tarjeta.css" rel="stylesheet" />

