@using Inventario.Models;
@{
    ViewBag.Title = "TiendaLider";
}

<h2 class="form-control-label" style="font-size: 20px;">
    PEDIDOS ACEPTADOS EN LAS TIENDAS
</h2>
<div id="accordionPedidos"></div>
<div class="accordionPedidos" id="AcordeonPedidos">
    @{
        if (Accesos.IDAsignacion == 2)
        {
            if (TiendasSupervision.IDTienda != null)
            {
                int NSucursales = TiendasSupervision.IDTienda.Count();

                string InsrtClases = "card m-b-0 list-group list-group-flush  mb-1";
                for (int i = 0; i < NSucursales; i++)
                {
                    if (i == 0)
                    {
                        InsrtClases = "card m-b-0 list-group list-group-flush  mb-1";
                    }
                    else
                    {
                        InsrtClases = "card m-b-0 list-group list-group-flush  mb-1";
                    }
                    string ColapsePedido = "accordionPedidos" + @TiendasSupervision.IDTienda[i];

                    string titulo = "titulo" + @TiendasSupervision.IDTienda[i];
                    string contenedorPedidos = "contenedorPedidos" + @TiendasSupervision.IDTienda[i];
                    <div class="@InsrtClases">
                        <div class="card-header" id="@titulo">
                            <h4 class="m-b-0 list-group list-group-flush  mb-1">
                                <a onclick="ConsultaPedidosRealizados(@TiendasSupervision.IDTienda[i])" data-toggle="collapse" data-target="#@ColapsePedido" class="collapse show" aria-expanded="false" aria-controls="@ColapsePedido" class="collapsed">
                                    <i class="m-r-5 fas fa-clipboard-list" aria-hidden="true"></i>
                                    <span>Pedidos realizados en la tienda: @TiendasSupervision.Nombre[i]</span>
                                </a>
                            </h4>
                            <div id="@ColapsePedido" class="collapse" aria-labelledby="headingOne" data-parent="#AcordeonSucursalesAceptar" style="">
                                <div class="card-body">
                                    <div class="row">
                                        <div>
                                            <h5>Pedidos del: @TiendasSupervision.Nombre[i]</h5>
                                        </div>
                                        <div id="@contenedorPedidos" class="col-md-12 col-sm-12 col-xs-12">No hay ningún registro</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            }
        }
    }
</div>
<!-------------------------------Estilo para la linea en el encabezado del los divs----------------------------------------->
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Color y grosor del borde */
    hr.solid {
        border-top: 4px solid #808080;
    }
    .D1 {
        background-color: #EBEBEB;
    }
</style>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid4 {
        border-top: 4px solid #0B94F8;
    }
</style>
<!------------------------------------Estilos para los inputs de los pedidos en el modal--------------------------->
<style>
    .redondeado {
        border-radius: 5px;
        /*grosor del alto de la casilla*/
        height: 30px;
        border: 1.5px solid #808080;
        /*Ancho de la casilla*/
        width: 100px
    }

    input:focus {
        background-color: white;
        border-color: dodgerblue;
    }
</style>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid3 {
        border-top: 1px solid #030303;
        width: 50%;
    }
</style>
<style>
    [data-title]:hover:after {
        opacity: 1;
        transition: all 0.1s ease 0.5s;
        visibility: visible;
    }
    [data-title]:after {
        content: attr(data-title);
        background-color: #FFC300;
        color: #fff;
        font-size: 14px;
        font-family: Raleway;
        position: absolute;
        padding: 3px 20px;
        bottom: -1.6em;
        left: 100%;
        white-space: nowrap;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #111111;
        z-index: 99999;
        visibility: hidden;
        border-radius: 6px;
    }
    [data-title] {
        position: relative;
    }
</style>
<script src="~/Scrips/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="~/Scrips/Internos/JS_PedidosTienda.js"></script>
<link href="~/Content/tarjeta.css" rel="stylesheet" />


