@using Inventario.Models;



@{
    ViewBag.Title = "Tiendas de la supervisión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/magnific-popup.css" rel="stylesheet" />*@
<h2>Tiendas de la supervisión</h2>

<!-- Botón del modal-->
<button onclick="editarModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!------------------------------------------------------------------------------------------------------------>
<div id="contenedor1"></div>
<!------------------------------------------------>
<style>
    contenedor2 {
        width: 900px;
        height: 450px;
        margin: 16px;
        padding: 16px;
    }

    contenedor3 {
        width: 900px;
        height: 450px;
        margin: 16px;
        padding: 16px;
    }
</style>
<!--------------------------------------------------------------------------------------------------------------->
<!--Mostrar los registros en el accordion-->
<div id="accordion"></div>

<div class="accordion" id="AcordeonSucursales">
    @{
        if (TiendasSupervision.IdTienda != null)
        {
            int NSucursales = TiendasSupervision.IdTienda.Count();
            string InsrtClases = "card m-b-0";
            for (int i = 0; i < NSucursales; i++)
            {
                if (i == 0)
                {
                    InsrtClases = "card m-b-0";
                }
                else
                {
                    InsrtClases = "card m-b-0  border-top";
                }
                string Colapse = "Collapse_Sucursa_" + @TiendasSupervision.IdTienda[i];
                string Header = "Heading_Sucursa_" + @TiendasSupervision.IdTienda[i];
                string IDAcordeon = "Acordeon_Sucursal_" + @TiendasSupervision.IdTienda[i] + "_Deptos";
                string BadgeDepto = "Badge_Sucursal_" + @TiendasSupervision.IdTienda[i];
                <div class="@InsrtClases">
                    <div class="card-header" id="@Header">
                        <h4 class="mb-0">
                            <a onclick="llenarBadges(@TiendasSupervision.IdTienda[i])" data-toggle="collapse" data-target="#@Colapse" aria-expanded="false" aria-controls="@Colapse" class="collapsed">
                                <i class="m-r-5 mdi mdi-store" aria-hidden="true"></i>
                                <span>@TiendasSupervision.Nombre[i]</span><span id="@BadgeDepto" class="badge badge-danger"></span>
                            </a>
                        </h4>
                        <div id="@Colapse" class="collapse" aria-labelledby="headingOne" data-parent="#AcordeonSucursales" style="">
                            <div class="card-body">

                                <div class="row">
                                    <h5>Subtitulo</h5>
                                </div>
                                @*<div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6"><strong>Lider: </strong>@TiendasSupervision.LNombre[i]  </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6"><strong>Encargado: </strong>@TiendasSupervision.E1Nombre[i]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6"><strong>Encargado: </strong>@TiendasSupervision.E2Nombre[i]</div>
                                        <div class="col-md-6 col-sm-6 col-xs-6"><strong>Encargado: </strong>@TiendasSupervision.E3Nombre[i]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6"><strong>Auxiliar: </strong>@TiendasSupervision.A1Nombre[i]</div>
                                        <div class="col-md-6 col-sm-6 col-xs-6"><strong>Auxiliar: </strong>@TiendasSupervision.A2Nombre[i]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6"><strong>Auxiliar: </strong>@TiendasSupervision.A3Nombre[i]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12"><strong>Dirección</strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-sm-6 col-xs-6"><strong>Estado: </strong>@TiendasSupervision.Estado[i]</div>
                                        <div class="col-md-7 col-sm-6 col-xs-6"><strong>Municipio: </strong>@TiendasSupervision.Municipio[i]  </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6 col-xs-6"><strong>Localidas: </strong>@TiendasSupervision.Localidad[i]  </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6 col-xs-6"><strong>Calle: </strong>@TiendasSupervision.Calle[i]  </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-6"><strong>Teléfono: </strong>@TiendasSupervision.Telefono[i]  </div>
                                        <div class="col-md-3 col-sm-6 col-xs-6"><strong>Apertura: </strong>@TiendasSupervision.HApertura[i]</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6 col-xs-6"><strong>C.p.: </strong>    @TiendasSupervision.CP[i]  </div>
                                    </div>*@


                                @*<br />
                                    <hr size="8px" color="gray" />
                                    <div class="row">
                                        <h5>Subtitulo @TiendasSupervision.Nombre[i]</h5>
                                    </div>*@

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

<!----------------------------------------DISTRIBUIR LOS TITULOS DE LOS DIVS -------------------------------------------->
<!--<style>
    #contenedor {
        width: 300px;
        height: auto;
        text-align: center;
    }

    #contenedor_follow div.icono {
        display: inline-block;
        width: 15%;
        height: auto;
        vertical-align: middle;
        text-align: center;
    }
</style>-->
<!-------------------------------Estilo para la linea en el encabezado del los divs----------------------------------------->
<!--<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid {
        border-top: 3px solid #D7DBDD;
    }
</style>


<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid3 {
        border-top: 3px solid #f1f507;
    }
</style>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Solid border */
    hr.solid4 {
        border-top: 3px solid #0B94F8;
    }
</style>-->

<script src="~/Scrips/jquery.min.js"></script>
@*<script src="~/Scripts/jquery.magnific-popup.min.js"></script>*@
@*<script src="~/Scripts/meg.init.js"></script>*@
<script src="~/Scrips/Internos/JS_SupervisionTienda.js"></script>

