@using Inventario.Models;
@{
    ViewBag.Title = "PedidoExtPrueba";
}
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<link href="~/Content/Tabla.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->

<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--Termina tarjeta-->
<!-- Botón del modal-->
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!--Mostrar los registros en el accordion-->

<div id="tabla" class="default "></div>
<div id="accordion">
    @{

        if (ModeloPedidoExtPrueba.IdPedidosExternos != null)
        {
            string Classe = "card m-b-0 list-group list-group-flush  mb-1";
            for (var i = 0; i < ModeloPedidoExtPrueba.IdPedidosExternos.Count(); i++)
            {
                if (i > 0)
                {
                    Classe = "card m-b-0 list-group list-group-flush  mb-1";
                }
                string Collapse = "collapse" + ModeloPedidoExtPrueba.IdPedidosExternos[i], IDTabla = "Tabla_Depto_" + ModeloPedidoExtPrueba.IdPedidosExternos[i];
                string Heading = "heading" + ModeloPedidoExtPrueba.IdPedidosExternos[i], Badge = "Badge" + ModeloPedidoExtPrueba.IdPedidosExternos[i];
                string AcordeonSubAreas = "Acorden" + ModeloPedidoExtPrueba.IdPedidosExternos[i];
                <div class="@Classe">
                    <div class="card-header" id="@Heading">
                        <h5 class="mb-0">
                            <a onclick="CrearAcordeonSubAreas(@ModeloPedidoExtPrueba.IdPedidosExternos[i])" data-toggle="collapse" data-target="#@Collapse" aria-expanded="false" aria-controls="Collapse" class="collapsed">
                                <i class="m-r-5 fas fa-clipboard-list" aria-hidden="true"></i>
                                <span>@ModeloPedidoExtPrueba.NumeroPedido[i] </span><span id="@Badge" class="badge badge-danger"></span>
                            </a>
                        </h5>
                        <div id="@Collapse" class="collapse" aria-labelledby="headingOne" data-parent="#AcordeonArea" style="">
                            <div class="card-body">
                                <!--Boton para editar y agregar SUBAREAS-->   <button style="float:right; background-color:dodgerblue " class="btn btn-success" onclick="abrirModalSub(0,@ModeloPedidoExtPrueba.IdPedidosExternos[i])" data-toggle="modal" data-target="#dialogo"><i class="fas fa-plus"></i></button>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12"><strong>Numero de  pedido: </strong>@ModeloPedidoExtPrueba.NumeroPedido[i]</div>
                                </div>
                                <div class="row">
                                    @*<div class="col-md-12 col-sm-12 col-xs-12"><strong>Fecha: </strong>@ModeloPedidoExtPrueba.Fecha[i]</div>*@
                                    @*<div class="col-md-12 col-sm-12 col-xs-12"><strong>Teléfono: </strong>@ModeloPedidoExtPrueba.Proveedor[i]</div>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 accordion" id="@AcordeonSubAreas">Espacio para las SubAreas</div>
                                </div>
                                <div class="row">
                                    @*<div id="@IDTabla" class="col-md-12 col-sm-12 col-xs-12">Espacio para las Incidencias por área</div>*@
                                    <button class="btn btn-success" onclick="abrirModal(@ModeloPedidoExtPrueba.IdPedidosExternos[i])" data-toggle="modal" data-target="#dialogo1"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger" onclick="EliminarDepartamento(@ModeloPedidoExtPrueba.IdPedidosExternos[i],this)"><i class="fas fa-eraser"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>


<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">

                    <form id="regiration_form" novalidate method="post">

                        <!--Los pasos del modal-->
                        <h4>Paso 1: Información de la Área</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtFechaIngreso">Fecha de Ingreso<span></span></label>
                                    <input type="text" id="TxtFechaIngreso" class="form-control bloquear" name="data[TxtFechaIngreso]" size="25" maxlength="100">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtNumeroPedido">No. Pedido<span class="required">*</span></label>
                                    <input type="number" id="TxtNumeroPedido" class="form-control limpiar obligatorio" placeholder="Número de Pedido">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbProveedor">Proveedor<span class="required">*</span></label>
                                    <select id="cmbProveedor" style="width: 100%" class="form-control limpiarSelect obligatorio">
                                        @*<option value="0">--Seleccione--</option>
                                            @{
                                                if (Proveedores.idProveedor != null)
                                                {
                                                    for (int i = 0; i < Proveedores.idProveedor.Count(); i++)
                                                    {
                                                        <option value="@Proveedores.idProveedor[i]">@Proveedores.Nombre[i]</option>
                                                    }
                                                }
                                            }*@
                                    </select>

                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success" onclick="GuardarDepartamento()">Guardar</button>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------------Abrir Modal SubArea--------------------------------------------------->
<div class="container">
    <div class="modal fade" id="dialogo">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h4>SUBÁREAS</h4>

                    <form id="regiration_form" novalidate method="post">

                        <h4>Paso 1: Información de la subÁrea</h4>

                        <div class="row">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbPedido">No. pedido<span>*</span></label>
                                    <select id="cmbPedido" style="width: 100%" class="form-control limpiarSelect bloquear ObligatoriosSub"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbProveedor">Proveedor<span class="required">*</span></label>
                                    <select id="cmbProveedor" style="width: 100%" class="form-control limpiarSelect obligatorio">
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbArticulo">Artículo<span class="required">*</span></label>
                                    <select id="cmbArticulo" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbUnidadDeMedida">Unidad de medida<span class="required">*</span></label>
                                    <select id="cmbUnidadDeMedida" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="cmbMarca">Marca<span class="required">*</span></label>
                                    <select id="cmbMarca" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                </div>
                            </div>


                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="TxtCantidadSolicitada">Cantidad solicitada<span class="required">*</span></label>
                                    <input type="number" id="TxtCantidadSolicitada" class="form-control limpiar obligatorio" placeholder="Cantidad solicitada">
                                </div>
                            </div>

                        </div>
                        <button type="button" class="btn btn-primary" onclick="GuardarPedidoExterno()">Guardar</button>

                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------------Termina Modal SubArea--------------------------------------------------->
<!------------Obtener la fecha-------------->
<script type="text/javascript">
    var f = new Date();
    fecha = f.getDate() + "/" + (f.getMonth() + 1) + "/" + f.getFullYear();
    document.getElementById('TxtFechaIngreso').value = fecha;

</script>
<!--------------------------------------------------------------------------------------------------------->
<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<!--Script-->
<script src="~/Scrips/jquery.min.js"></script>
<script src="~/Scrips/Internos/JS_PedidoExtPrueba.js"></script>
<script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
<link href="~/Content/tarjeta.css" rel="stylesheet" />

