@using Inventario.Models;
@{
    ViewBag.Title = "Departamentos";
}
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<link href="~/Content/Tabla.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Inicia tarjeta-->
<!-- Estilos -->
<link rel="stylesheet" href="estilos.css">
<div class="contenedor">
    <div class="contenedor hero">
        <div class="contenedor-cards">
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen1.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen2.jpg" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>
            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="~/Assets/Imagenes/imagen3.png" alt="">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Titulo</p>
                            <span class="categoria">Categoría</span>
                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--Termina tarjeta-->
<!-- Botón del modal-->
<button onclick="abrirModal(0)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<!--Mostrar los registros en el accordion-->

<div id="tabla" class="default "></div>
<div id="accordion">
    @{

        if (ModeloAreas.IdAreas != null)
        {
            string Classe = "card m-b-0";
            for (var i = 0; i < ModeloAreas.IdAreas.Count(); i++)
            {
                if (i > 0)
                {
                    Classe = "card m-b-0 border-top";
                }
                string Collapse = "collapse" + ModeloAreas.IdAreas[i], IDTabla = "Tabla_Depto_" + ModeloAreas.IdAreas[i];
                string Heading = "heading" + ModeloAreas.IdAreas[i], Badge = "Badge" + ModeloAreas.IdAreas[i];
                <div class="@Classe">
                    <div class="card-header" id="@Heading">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#@Collapse" aria-expanded="false" aria-controls="Collapse" class="collapsed">
                                <i class="m-r-5 fas fa-clipboard-list" aria-hidden="true"></i>
                                <span>@ModeloAreas.Nombre[i] </span><span id="@Badge" class="badge badge-danger"></span>
                            </a>
                        </h5>
                        <div id="@Collapse" class="collapse" aria-labelledby="headingOne" data-parent="#AcordeonArea" style="">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12"><strong>Jefe de área: </strong>@ModeloAreas.UNombre[i]</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6"><strong>Correo: </strong>@ModeloAreas.Correo[i]</div>
                                    <div class="col-md-6 col-sm-6 col-xs-6"><strong>Teléfono: </strong>@ModeloAreas.Telefono[i]</div>
                                </div>
                                <div class="row"><div class="col-md-6 col-sm-6 col-xs-6"><br> </div></div>
                                <div class="row">
                                    <div id="@IDTabla" class="col-md-12 col-sm-12 col-xs-12">Espacio para las Incidencias por área</div>
                                    <button class="btn btn-success" onclick="abrirModal( + Data[i].IdAreas + )" data-toggle="modal" data-target="#dialogo1"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger" onclick="EliminarDepartamento( + Data[i].IdAreas + ,this)"><i class="fas fa-eraser"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
<!-- Encabezado del Modal -->
<div class="container">
    <div class="modal fade" id="dialogo1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body">
                    <h4>REGISTRO DE ALMACEN GENERAL</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <form id="regiration_form" novalidate method="post" onsubmit="return validarFormularioD()">
                        <fieldset>
                            <!--Los pasos del modal-->
                            <h2>Paso 1</h2>
                            <div class="form-group">
                                <label for="TxtNombre">Area</label>
                                <input type="text" class="form-control  limpiar obligatorio" name="data[TxtNombre]" id="TxtNombre" placeholder="Nombre de la área">
                            </div>
                            <div class="form-group">
                                <label for="TxtUsuario">Usuario</label>
                                <input type="text" class="form-control  limpiar obligatorio" name="data[TxtUsuario]" id="TxtUsuario" placeholder="Usuario">
                            </div>
                            <div class="form-group">
                                <label for="TxtCorreo">Correo Electrónico</label>
                                <input type="text" class="form-control  limpiar obligatorio" name="data[TxtCorreo]" id="TxtCorreo" placeholder="Email">
                            </div>
                            <input type="button" name="data[password]" class="next btn btn-info" value="Siguiente" />
                        </fieldset>
                        <fieldset>
                            <h2>Paso 2</h2>
                            <div class="form-group">
                                <label for="TxtTelefono">Teléfono</label>
                                <input type="text" class="form-control  limpiar obligatorio" id="TxtTelefono" name="data[TxtTelefono]" placeholder="Teléfono">
                            </div>
                            <div class="form-group">
                                <label for="TxtCarpeta">Carpeta</label>
                                <input type="text" class="form-control  limpiar obligatorio" id="TxtCarpeta" name="data[TxtCarpeta]" placeholder="Carpeta">
                            </div>
                            <input type="button" name="previous" class="previous btn btn-default" value="Atrás" />
                            <button id="btnGuardar" type="submit" value="Submit" class="btn btn-success" onclick="GuardarDepartamento()">Guardar</button>
                        </fieldset>
                    </form>
                </div>
                <!-- pie del modal-->
                <div class="modal-footer">
                    <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>



<!--Hacer que el modal muestre los pasos por parte-->
<style type="text/css">
    #regiration_form fieldset:not(:first-of-type) {
        display: none;
    }
</style>
<!--Script-->
<!--Script--><script src="~/Scrips/jquery.min.js"></script>
<!--Visualizar el accordion-->
<!--<script src="~/Scrips/jquery-ui.min.js"></script>-->
<!--Codigo de la funcion para llamar los registros de la base de datos para almacenarlos al accordion-->
<script src="~/Scrips/Internos/JS_Departamentos.js"></script>
<!--Validacion del formulario-->
<script src="~/Scrips/js.cookie.js"></script>
<!--Recorrer los pasos del modal-->
<!--Scripts de la tarjeta y el botón-->
<link href="~/Content/tarjeta.css" rel="stylesheet" />

