
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- IMPORTAR FONTAWESOME DIRECTAMENTE DESDE SU SERVIDOR -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--  <link rel="stylesheet" href="[nombreCarpetaFontAwesome]/css/all.css">-->
    <!-- Favicon -->

    <link src="~/Assets/Imagenes/favicon.png" type="image.png" />
    <!--  <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet"> -->
    <!-- Fonts -->
    <!-- Icons -->
    <link rel="stylesheet" href="~/Content/nucleo.css">
    <!--   <link href="~/Content/nucleo.css" rel="stylesheet" /> -->
    <!--link href="~/Content/all.min.css" rel="stylesheet" />-->
    <!-- Argon CSS -->
    <link href="~/Content/argon.css" rel="stylesheet" />
</head>
<body>
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <!--Cambiar el color de fondo a la tarjeta menu-->
        <!-- Brand -->
        <div class="sidenav-header  align-items-center">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="~/Assets/Imagenes/logo.png"/>
            </a>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <!-- Nav items -->
                <ul class="navbar-nav">


                    <li id="menu" class="list__item" style="cursor: pointer;">
                        <div class="list__button">
                            <i class="fas fa-home list__img"></i>

                            @Html.ActionLink("Inicio", "Index", "Index")

                        </div>
                    </li>
                    <li id="menu" class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <i class="fas fa-cog list__img"></i>
                            <a href="#" class="nav__link">Configuración</a>
                            <i class="fas fa-chevron-right list__arrow"></i>
                        </div>

                        <ul class="list__show">
                            <li class="list__inside">
                                @Html.ActionLink("Página", "Pagina", "Pagina")
                            </li>
                            <li class="list__inside">
                                @Html.ActionLink("Configuración", "Configuracion", "Configuracion")
                            </li>


                        </ul>

                    </li>
                    <li id="menu" class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <i class="fas fa-users list__img"></i>
                            <a href="#" class="nav__link">Usuarios</a>
                            <i class="fas fa-chevron-right list__arrow"></i>

                        </div>

                        <ul class="list__show">
                            <li class="list__inside">
                                @Html.ActionLink("Usuarios", "Usuario", "Usuario")
                            </li>

                            <li class="list__inside">
                                @Html.ActionLink("Perfiles de usuario", "Perfiles", "Perfiles")
                            </li>
                        </ul>

                    </li>

                    <li id="menu" class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <i class="far fa-building list__img"></i>
                            <a href="#" class="nav__link">Áreas</a>
                            <i class="fas fa-chevron-right list__arrow"></i>
                        </div>

                        <ul class="list__show">
                            <li class="list__inside">
                                @Html.ActionLink("Áreas", "Departamentos", "Departamentos")
                            </li>

                            <li class="list__inside">
                                @Html.ActionLink("Subáreas", "subArea", "subArea")
                            </li>
                        </ul>

                    </li>

                    <li id="menu" class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <i class="fas fa-box-open list__img"></i>
                            <a href="#" class="nav__link">Artículos</a>
                            <i class="fas fa-chevron-right list__arrow"></i>
                        </div>
                        <ul class="list__show">
                            <li class="list__inside">
                                @Html.ActionLink("Artículos", "Articulo", "Articulo")
                            </li>
                            <li class="list__inside">
                                @Html.ActionLink("Existencias", "Existencias", "Existencias")
                            </li>
                            <li class="list__inside">
                                @Html.ActionLink("Existencias Almacen", "ExistenciaAlmacen", "ExistenciaAlmacen")
                            </li>
                            <li class="list__inside">
                                @Html.ActionLink("Clasificación", "Categoria", "Categoria")
                            </li>

                            <li class="list__inside">
                                @Html.ActionLink("Unidad de medida", "UnidadMedida", "UnidadMedida")
                            </li>
                            <li class="list__inside">
                                @Html.ActionLink("Tipos de movimiento", "TiposDeMovimiento", "TiposDeMovimiento")
                            </li>

                        </ul>

                    </li>


                    <li id="menu" class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <i class="fas fa-store list__img"></i>
                            <a href="#" class="nav__link">Tiendas</a>
                            <i class="fas fa-chevron-right list__arrow"></i>
                        </div>
                        <ul class="list__show">
                            <li class="list__inside">
                                @Html.ActionLink("Tiendas", "Tienda", "Tienda")
                            </li>
                            <li class="list__inside">
                                @Html.ActionLink("Supervisión", "Supervision", "Supervision")
                            </li>

                            <li class="list__inside">
                                @Html.ActionLink("Supervisor", "Supervisor", "Supervisor")
                            </li>
                        </ul>

                    </li>

                    <li id="menu" class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <i class="fas fa-window-restore list__img"></i>
                            <a href="#" class="nav__link">Pedidos</a>
                            <i class="fas fa-chevron-right list__arrow"></i>
                        </div>

                        <ul class="list__show">
                            <li id="menu" class="list__inside">
                                @Html.ActionLink("Pedidos externos", "Pedidosext", "Pedidosext")
                            </li>

                            <li class="list__inside">
                                @Html.ActionLink("Pedidos Internos", "Pedidosint", "Pedidosint")
                            </li>
                        </ul>

                    </li>


                    <li id="menu" class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <i class="fas fa-user-friends list__img"></i>
                            <a href="#" class="nav__link">Proveedores</a>
                            <i class="fas fa-chevron-right list__arrow"></i>
                        </div>
                        <ul class="list__show">
                            <li class="list__inside">
                                @Html.ActionLink("Proveedores", "Proveedores", "Proveedores")
                            </li>
                            <li class="list__inside">
                                @Html.ActionLink("Marca", "Marca", "Marca")
                            </li>
                        </ul>

                    </li>

                    <li id="menu" class="list__item list__item--click">
                        <div class="list__button list__button--click">
                            <i class="fas fa-shopping-cart list__img"></i>
                            <a href="#" class="nav__link">Compra</a>
                            <i class="fas fa-chevron-right list__arrow"></i>
                        </div>
                        <ul class="list__show">
                            <li class="list__inside">
                                @Html.ActionLink("Compra", "Compra", "Compra")
                            </li>
                            <li class="list__inside">
                                @Html.ActionLink("Bonificaciones", "Bonificaciones", "Bonificaciones")
                            </li>

                            <li class="list__inside">
                                @Html.ActionLink("Impuestos", "Impuestos", "Impuestos")
                            </li>
                        </ul>

                    </li>

                </ul>


            </div>
        </div>

        <!-------------Estilo Menú------------>
        <style>


            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                background: #EAEBEF;
                font-family: 'Poppins', sans-serif;
            }

            .nav {
                width: 300px;
            }

            .nav__link {
                color: #303440;
                display: block;
                padding: 17px 0;
                text-decoration: none;
            }

            .nav__link--inside {
                border-radius: 6px;
                padding-left: 20px;
                text-align: left;
            }

                .nav__link--inside:hover {
                    background: #F6F8FA;
                }

            .list {
                width: 100%;
                height: 100vh;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border-radius: 0 16px 16px 0;
                background: #fff;
            }

            .list__item {
                list-style: none;
                width: 100%;
                text-align: center;
                overflow: hidden;
            }

            .list__item--click {
                cursor: pointer;
            }

            .list__button {
                display: flex;
                align-items: center;
                gap: 1em;
                width: 90%;
                margin: 0 auto;
            }

            .arrow .list__arrow {
                transform: rotate(90deg);
            }

            .list__arrow {
                margin-left: auto;
                transition: transform .3s;
            }

            .list__show {
                width: 80%;
                margin-left: auto;
                border-left: 2px solid #303440;
                list-style: none;
                transition: height .4s;
                height: 0;
            }

            #menu a {
                color: black
            }

            /* body {
                background: #fafafa;
                text-align: center;
            }

            .navbar-inner {
                background: linear-gradient(#c8c8e3, #1cb5e0);
                color: white;
            }*/

        </style>
        <!------------------Script Menú-------------------->
        <script>
            let listElements = document.querySelectorAll('.list__button--click');

            listElements.forEach(listElement => {
                listElement.addEventListener('click', () => {

                    listElement.classList.toggle('arrow');

                    let height = 0;
                    let menu = listElement.nextElementSibling;
                    if (menu.clientHeight == "0") {
                        height = menu.scrollHeight;
                    }

                    menu.style.height = `${height}px`;

                })
            });
        </script>

        <!-------------------------------------------------------------------->
        <!-- Divider -->
        <!-- Heading -->
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
        </ul>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-default border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Search form -->
                    <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                        <div class="form-group mb-0">
                            <div class="input-group input-group-alternative input-group-merge">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                                <input class="form-control" placeholder="Buscar" type="text">
                            </div>
                        </div>
                        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </form>
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-xl-none">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-sm-none">
                            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                                <i class="fas fa-search"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <div class="dropdown-menu dropdown-menu-xl  dropdown-menu-right  py-0 overflow-hidden">
                                <!-- Dropdown header -->
                                <div class="px-3 py-3">
                                    <h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong> notifications.</h6>
                                </div>
                                <!-- List group -->
                                <div class="list-group list-group-flush">
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->

                                                <img alt="Image placeholder" src="~/Assets/Imagenes/logo.png" class="avatar rounded-circle">
                                           
                                            </div>
                                            <div class="col ml--2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h4 class="mb-0 text-sm">John Snow</h4>
                                                    </div>
                                                    <div class="text-right text-muted">
                                                        <small>2 hrs ago</small>
                                                    </div>
                                                </div>
                                                <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <img alt="Image placeholder" src="~/Assets/Imagenes/logo.png" class="avatar rounded-circle">

                                            </div>
                                            <div class="col ml--2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h4 class="mb-0 text-sm">John Snow</h4>
                                                    </div>
                                                    <div class="text-right text-muted">
                                                        <small>3 hrs ago</small>
                                                    </div>
                                                </div>
                                                <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <img alt="Image placeholder" src="~/Assets/Imagenes/logo.png" class="avatar rounded-circle">
                                            </div>
                                            <div class="col ml--2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h4 class="mb-0 text-sm">John Snow</h4>
                                                    </div>
                                                    <div class="text-right text-muted">
                                                        <small>5 hrs ago</small>
                                                    </div>
                                                </div>
                                                <p class="text-sm mb-0">Your posts have been liked a lot.</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <img alt="Image placeholder" src="~/Assets/Imagenes/logo.png" class="avatar rounded-circle">
                                            </div>
                                            <div class="col ml--2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h4 class="mb-0 text-sm">John Snow</h4>
                                                    </div>
                                                    <div class="text-right text-muted">
                                                        <small>2 hrs ago</small>
                                                    </div>
                                                </div>
                                                <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#!" class="list-group-item list-group-item-action">
                                        <div class="row align-items-center">
                                            <div class="col-auto">
                                                <!-- Avatar -->
                                                <img alt="Image placeholder" src="~/Assets/Imagenes/logo.png" class="avatar rounded-circle">
                                            </div>
                                            <div class="col ml--2">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div>
                                                        <h4 class="mb-0 text-sm">SUPER PLUS</h4>
                                                    </div>
                                                    <div class="text-right text-muted">
                                                        <small>3 hrs ago</small>
                                                    </div>
                                                </div>
                                                <p class="text-sm mb-0">A new issue has been reported for Argon.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- View all -->
                                <a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default  dropdown-menu-right ">
                                <div class="row shortcuts px-4">
                                    <a href="#!" class="col-4 shortcut-item">
                                        <span class="shortcut-media avatar rounded-circle bg-gradient-red">
                                            <i class="ni ni-calendar-grid-58"></i>
                                        </span>
                                        <small>Calendar</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                                        <span class="shortcut-media avatar rounded-circle bg-gradient-orange">
                                            <i class="ni ni-email-83"></i>
                                        </span>
                                        <small>Email</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                                        <span class="shortcut-media avatar rounded-circle bg-gradient-info">
                                            <i class="ni ni-credit-card"></i>
                                        </span>
                                        <small>Payments</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                                        <span class="shortcut-media avatar rounded-circle bg-gradient-green">
                                            <i class="ni ni-books"></i>
                                        </span>
                                        <small>Reports</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                                        <span class="shortcut-media avatar rounded-circle bg-gradient-purple">
                                            <i class="ni ni-pin-3"></i>
                                        </span>
                                        <small>Maps</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                                        <span class="shortcut-media avatar rounded-circle bg-gradient-yellow">
                                            <i class="ni ni-basket"></i>
                                        </span>
                                        <small>Shop</small>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">

                                    <div class="media-body  ml-2  d-none d-lg-block">

                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu  dropdown-menu-right ">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-single-02"></i>
                                    <span>My profile</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Settings</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-calendar-grid-58"></i>
                                    <span>Activity</span>
                                </a>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-support-16"></i>
                                    <span>Support</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="#!" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <!-- Mask -->
        <!-- Cabecera del Layaut-->

        @RenderBody()



        <!-- Pie de pagina -->
        <!--<footer class="footer">
        <p>Contenido del pié de la página.</p>
        /footer> -->
    </div>
    <!-- Argon Scripts -->
    <!-- Script-->
    <script src="~/Scrips/argon.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scrips/bootstrap-datepicker.min.js"></script>
    <script src="~/Scrips/bootstrap.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!--  <script src="~/Scrips/jquery-scrollLock.min.js"></script>  -->
    <!--  <script src="~/Scrips/jquery-ui.min.js"></script> -->
    <script src="~/Scrips/jquery.min.js"></script>
    <script src="~/Scrips/jquery.scrollbar.min.js"></script>
    <script src="~/Scrips/js.cookie.js"></script>
    <!--Importar iconos-->
    <!-- <script src="/js/all.js"></script> -->

</body>
    </html>
