@using Inventario.Models;
@{
    ViewBag.Title = "Compra";
}
<center>
    <h2 class="form-control-label" style="font-size: 20px;">
        REGISTRO DE COMPRAS Y BONIFICACIONES DE LOS ARTÍCULOS
    </h2>
</center>

<!----------------------------Estilos-------------------------------------->
<link href="~/Content/CObligatorios.css" rel="stylesheet" />
<link href="~/Content/Tabla.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!------------------------------------------------Script para buscar datos en la tabla--------------------------------------------->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!------------------------------------------------Termina------------------------------------------------------------->
<!-- Botón del modal-->
<button onclick="abrirModal(0)" type="button"  class="btn btn-success" data-toggle="modal" data-target="#dialogo1">REGISTRAR</button>
<br />

<!---------------------------------------------------------------------------------------------------------------->
<div id="GIDA">
    @{
        if (Accesos.IdArea != null)
        {
            if (Accesos.NIvel == 1)
            {
                <input style="display:none" id="IDAREA" value="@Accesos.NIvel" />
                <input style="display:none" ID="NAREA" value="@Accesos.Perfil" />
            }
            if (Accesos.NIvel != 1)
            {
                <input style="display:none" id="IDAREA" value="@Accesos.IdArea" />
                <input style="display:none" ID="NAREA" value="@Accesos.NArea" />
            }
        }
    }

</div>

<!-------------------------------------------------------------------------------------------------------------->
<br />
<div class="input-group mb-3 float-right">
    <input style="border-style:  outset; border-width: 3px;  border-color:mediumaquamarine;     border-radius: 8px;   background-color:mintcream;" class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Search....">
    <span class="input-group-text" style="border-style:  outset; border-width: 3px; border-color:mediumaquamarine;   border-radius: 8px; " id="basic-addon1"><i class="fas fa-search"></i></span>
</div>
<!------------------------------------Mostrar los registros en el accordion--------------------------------------->
<div id="tablaCompras">
    @{
        if (ModeloCompra.IdArea != null)
        {

            <table class="order-table  table-success" style="position: relative"
            <thead>
                    <tr>
                        <th scope="col">No.Compra</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Operación</th>
                        <th scope="col">Fecha_Compra</th>
                        <th scope="col">Accción</th>
                    </tr>
            </thead>
                for (var i = 0; i < ModeloCompra.IdArea.Count(); i++)
                {

                if (Accesos.NIvel == 1)
                {
            <tr>
                <td>@ModeloCompra.NoCompra[i]</td>
                <td>@ModeloCompra.Proveedor[i]</td>
                <td>@ModeloCompra.TipoOperacion[i]</td>
                <td>@ModeloCompra.FechaDeIngreso[i]</td>
                <td>
                    <button class="btn btn-success" onclick="abrirModal(@ModeloCompra.IdCompra[i])" data-toggle="modal" data-target="#dialogo1"><i class="fas fa-edit"></i></button>
                </td>
            </tr>
                }
                else if ((long)ModeloCompra.IdArea[i] == Accesos.IdArea && ModeloCompra.NomArea[i] != "Administrador")
                {
                 <tr>
                <td>@ModeloCompra.NoCompra[i]</td>
                <td>@ModeloCompra.Proveedor[i]</td>
                <td>@ModeloCompra.TipoOperacion[i]</td>
                <td>@ModeloCompra.FechaDeIngreso[i]</td>
                <td>
                    <button class="btn btn-success" onclick="abrirModal(@ModeloCompra.IdCompra[i])" data-toggle="modal" data-target="#dialogo1"><i class="fas fa-edit"></i></button>
                </td>
                 </tr>
                }

                }
            }
        }
    </table>
        </div>

        <!-- Encabezado del Modal -->
        <div class="container">
            <div class="modal fade" id="dialogo1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">REGISTRO DE COMPRAS Y BONIFICACIONES</h4>
                            <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times-circle"></i></button>
                        </div>
                        <!-- Contenido del modal -->
                        <div class="modal-body">
                            <form id="regiration_form" novalidate method="post">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="TxtFechaDeIngreso">Fecha de ingreso<span class="required">*</span></label>
                                                <input type="text" name="data[TxtFechaDeIngreso]" id="TxtFechaDeIngreso" class="form-control bloquear">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="TxtNoCompraPro">No. Compra por proveedor<span class="required">*</span></label>
                                                <input type="number" name="data[TxtNoCompraPro]" id="TxtNoCompraPro" class="form-control  limpiar bloquear">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="TxtNoCompra">Número de compra<span class="required">*</span></label>
                                                <input type="text" name="data[TxtNoCompra]" id="TxtNoCompra" class="form-control  limpiar  bloquear" placeholder="1">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="cmbMPago">Método de pago<span>*</span></label>
                                                <select id="cmbMPago" style="width: 100%" class="form-control limpiarSelect limpiarSelects obligatorio"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="TxtCosto">Total<span class="required">*</span></label>
                                                <input type="number" name="data[TxtCosto]" id="TxtCosto" class="form-control  limpiars limpiar bloquear">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="cmbProveedor">Proveedor<span>*</span></label>
                                                <select id="cmbProveedor" onchange="MostrarArticulos(this.value); LimpiarCamposIn();" style="width: 100%" class="form-control limpiarSelect obligatorio"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="TblArticulos">Artículo(s)<span class="required">*</span></label>
                                                <div id="TblArticulos">Artículo(s) del proveedor</div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <!-- pie del modal-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="GCompras" onclick="verificar();">Guardar</button>
                            <button id="btnCancelar" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--------------------------------------------->
        <div id="GIDA">
            @{
                if (Accesos.IdArea != null)
                {
                    if (Accesos.NIvel == 1)
                    {
                        <input style="display:none" id="IDAREA" value="@Accesos.NIvel" />
                        <input style="display:none" id="NAREA" value="@Accesos.Perfil" />
                    }
                    if (Accesos.NIvel != 1)
                    {
                        <input style="display:none" id="IDAREA" value="@Accesos.IdArea" />
                        <input style="display:none" id="NAREA" value="@Accesos.NArea" />
                    }
                }
            }

        </div>
        <!------------------------Estilos para los inputs de cantidad solicitada de los pedidos en el modal  de pedidos----------------------->
        <style>
            .redondeado {
                border-radius: 5px;
                border: 1px solid #696969;
                width: 90px;
            }

            input:focus {
                background-color: lavender;
                text-align: center
            }
        </style>

        <!-------------Estilo que elimina los bordes de los inputs de unidad de medida y precio unitario en el modal de pedidos------------------------->
        <style>
            .sinborde {
                border: 0;
            }
        </style>
        <!-------------------------------------------------------------------->
        <style type="text/css">
            #regiration_form fieldset:not(:first-of-type) {
                display: none;
            }
        </style>

        <!--Script-->
        <script src="~/Scrips/jquery.min.js"></script>  <!--Visualizar el accordion-->
        <script src="~/Scrips/Internos/JS_Existencia.js"></script>
        <script src="~/Scrips/js.cookie.js"></script> <!--Recorrer los pasos del modal-->
        <script src="~/Scrips/General/JS_Buscador.js"></script>
        <link href="~/Content/tarjeta.css" rel="stylesheet" /><!--Estlos aplicados a la tarjetam de inicio-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
